<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <section id="question" class="container">
    <h1>All Questions</h1>

    {{#each questions}}
    <div class="question">
      <h3>{{question_id}}</h3>
      <p>{{question_text}}</p>
      <ul>
        <li>Type: {{question_type}}</li>
        <li><a href="#" class="btn btn-reverse">View Answer</a></li>
      </ul>
    </div>
    {{else}}
    <p>No questions available</p>
    {{/each}}
  </section>
</body>

</html>